<!DOCTYPE html>
<html   lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleEstudiante_page.css">
    <script type="module" src="/js/appEstudiante_page.js"></script>
    <title>Notas</title>
</head>
<body>
    <div id="header">
        <h1> FORMULARIO DE REGISTRO </h1>
        <!-- Aquí puedes escribir tu comentario <img src="/images/register.png"/> -->
    </div>
    <div id="formulario">
        <label> ID Estudiante: </label> <input id="id_estudiante"/> <br/> <br/> <br/>    
        <button id="btnConsulta"> Consultar </button>
    </div> <br/> <br/> <br/> 
    <div id="tabla">
        <table>
            <tr>
                <td>ASIGNATURA</td>
                <td>WEB</td>
                <td>MOVIL</td>
                <td>DESKTOP</td>
            </tr>
            <tr>
                <td>NOTA</td>
                <td>4.8</td>
                <td>4.6</td>
                <td>5.0</td>
            </tr>
          </table>
    </div>
</body>
</html>