<!DOCTYPE html>
<html   lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleForm.css">
    <script type="module" src="/js/appForm.js"></script>
    <title>Notas</title>
</head>
<body>
    <div id="header">
        <h1> FORMULARIO DE REGISTRO </h1>
        <!-- Aquí puedes escribir tu comentario <img src="/images/register.png"/> -->
    </div>
    <div id="formulario">
         <label> Name </label> <input id="name"/> <br/> <br/> <br/>
         <label> Identification </label> <input id="id"/> <br/> <br/> <br/>
         <label> Age </label> <input id="age"/> <br/> <br/> <br/>       
         <button id="btnRegisterUser"> Registrar </button>
    </div> 
</body>
</html>